---
const { title } = Astro.props;
---

<details class="group rounded-xl border border-white/10 bg-[#505265]/10">
  <summary
    class="flex cursor-pointer list-none items-center justify-between
           px-4 py-3 text-md font-medium text-white"
  >
    <span>{title}</span>

    <svg
      class="h-4 w-4 transition-transform duration-400 group-open:rotate-180"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"
      ></path>
    </svg>
  </summary>

  <div class="px-4 pb-4 pt-2 content">
    <slot />
  </div>
</details>

<style>
  summary::-webkit-details-marker {
    display: none;
  }
  details {
    align-self: start;
  }
  .content {
    opacity: 0;
    transform: translateY(-6px);
  }

  details[open] .content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.45s ease-out, transform 0.45s ease-out;
  }
</style>
