# GitHub OAuth Credentials
# Create a New OAuth App at https://github.com/settings/developers
# Homepage: Your Cloudflare URL
# Callback: Your Cloudflare URL + /api/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
