<section class="mission-section">
  <div class="global-padding section-padding">
    <div class="container-large">
      <div class="mission-grid flex flex-col lg:flex-row justify-center lg:justify-between gap-[30px] items-center">
        <div class="mission-content text-center lg:text-left w-full lg:w-[50%]">
          <h2 data-i18n="missionComponent.buildingFutureGameHosting">Building The Future of Game Hosting</h2>
          <div class="mt-[30px]">
            <h3 style="font-size: 26px; font-weight:500; margin-bottom:8px" data-i18n="missionComponent.mission">Our Mission</h3>
            <p>
              At <b data-i18n="missionComponent.aleforge">AleForge</b>
              , We Make Game Server Hosting
              <b data-i18n="missionComponent.effortlessReliable">Effortless, Reliable</b>, And
              <b data-i18n="missionComponent.accessible">Accessible</b> For Everyone From Casual Players To Gaming Communities. We Focus On Speed, Automation,
              And
              Security, Giving Gamers The Freedom To Play, Create, And Connect.
            </p>
            <hr style="opacity: 0.1; margin-top:20px; margin-bottom:20px" />

            <h3 style="font-size: 26px; font-weight:500; margin-bottom:8px" data-i18n="missionComponent.vision">Our Vision</h3>
            <p>
              Our Vision Is To Become The Most <b data-i18n="missionComponent.trusted">Trusted</b> And Innovative Game
              <b data-i18n="missionComponent.hostingPlatform">Hosting Platform</b>
              In The World. We Aim To Empower Players And Communities To Build, Grow, And Share Their Worlds With
              Technology
              That's
              <b data-i18n="missionComponent.fastScalableSecure">Fast, Scalable, And Secure</b>.
            </p>
          </div>
        </div>
        <div class="mission-image-wrapper lg:w-[40%] mx-auto">
            <img src="/assets/images/pages/about/Union.webp" alt="Gaming Experience" class="mission-image" />
        </div>
      </div>
    </div>
  </div>
</section>