<section class="security-section">
  <div class="section-padding global-padding">
    <div class="container-large">
      <div class="security-wrapper flex flex-col lg:flex-row  gap-[50px] items-center justify-between">
        <div class="security-content w-full lg:max-w-[48%]">
          <h2 data-i18n="securityComponent.builtPerformanceSecurityGrowth">Built For Performance, Security, And Growth</h2>
          <p class="subtitle pb-10" data-i18n="securityComponent.wordpressHostingEngineeredSpeedStability">
            Our WordPress Hosting Is Engineered For Speed, Stability, And Scalability—Powered By Modern Infrastructure
            And Optimized Specifically For WordPress And WooCommerce Sites.
          </p>
          <a href="#features" class="button-primary" data-i18n="securityComponent.exploreFeatures">Explore Features</a>
        </div>
        <div class="security-illustration w-full max-w-[500px] lg:max-w-[42%]">
          <div class="illustration-wrapper">
            <img style="content: var(--security-img)" alt="WordPress Security and Performance" class="security-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
