---
import FeaturesInsideBorders from "@components/sections/features_insideBorders.astro";

const features = [
    {
        icon: "var(--icon-computer)",
        title: "High Tick Rate",
        desc: "Support for servers running the highest possible tick rates."
    },
    {
        icon: "var(--icon-computer)",
        title: "Mod/Plugin Support",
        desc: "Install your mods and their dependencies with our one-click plugin installer."
    },
    {
        icon: "var(--icon-computer)",
        title: "99.9% Uptime",
        desc: "High-availability means our game servers remain fully operational guaranteed."
    },
    {
        icon: "var(--icon-computer)",
        title: "Global Locations",
        desc: "Locations worldwide for the fastest gaming near you."
    },
    {
        icon: "var(--icon-computer)",
        title: "Enterprise Hardware",
        desc: "Powerful hardware and networking for smooth play."
    },
    {
        icon: "var(--icon-computer)",
        title: "Dwarven Tunneling",
        desc: "All our game servers come equiped with gigabit networking standard."
    },
    {
        icon: "var(--icon-computer)",
        title: "Free Subdomain",
        desc: "Create a custom url for your friends to join your game through."
    },
    {
        icon: "var(--icon-computer)",
        title: "Budget Friendly",
        desc: "Gaming at every price point, so no one is left out."
    },
    {
        icon: "var(--icon-computer)",
        title: "DDoS Protection",
        desc: "Smart protection keeps you safe from DDoS attacks."
    }
];
---

<section class="why-aleforge-section max-w-[1300px] mx-auto">
    <div class="section-padding global-padding">
        <div class="container-large">
            <div class="title-wrapper">
                <h2 class="text-white font-bold mb-4" data-i18n="whyChooseAleforgeComponent.whyChooseAleforgeWordpressHosting">Why Choose AleForge For WordPress Hosting?</h2>
                <p class="subtitle max-w-4xl mx-auto" data-i18n="whyChooseAleforgeComponent.enjoyLatestFeaturesFriendsLuxury">
                    Enjoy the latest features with friends. Luxury gaming at budget prices on extreme-performance
                    hardware.
                </p>
            </div>

            <FeaturesInsideBorders items={features} data-count="9" />
        </div>
    </div>
</section>
