<section class="hero">
  <div class="global-padding section-padding">
    <div class="container-large">
      <div class="cntrl_panel_wrapper gap-[50px]">
        <div class="title-wrapper gap-[16px]">
          <p class="overline">Advanced Game Server Management</p>
          <h1>Blacksmith’s Portal Manage Smarter, Play Harder.</h1>
          <p class="subtitle">
            Experience the ultimate control panel for Minecraft, Terraria, and beyond real-time console, automated
            tools, and next-level management all in one.
          </p>
        </div>
        <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-4">
          <a href="/game-server" class="button-primary"> Start Server Today! </a>

          <a href="#features" class="button-secondary"> Explore Features </a>
        </div>
      </div>
    </div>
  </div>
</section>
